<% if new_object.persisted? %>
	<% id = 'edit_object'%>
<% else %>
	<% id = 'new_object'%>
<% end %>

<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => " prevent_double_submit ajax-form   no_content_form",
        :id => "#{id}"}) do |f| %>

	 
				new_object.material_id        = params[:material_id]       
		    new_object.is_pre_production  = params[:is_pre_production] 
		    new_object.is_production      = params[:is_production]     
		    new_object.is_post_production = params[:is_post_production]
		    new_object.is_delivered       = params[:is_delivered]      
		    new_object.delivery_address   = params[:delivery_address]  
		    new_object.price_per_piece    =  BigDecimal( params[:price_per_piece ])
		    new_object.weight_per_piece    =  BigDecimal( params[:weight_per_piece ])
		    new_object.quantity           = params[:quantity]          
		    new_object.description        = params[:description]   
		    new_object.delivery_address   = params[:delivery_address]          
		    new_object.requested_deadline = params[:requested_deadline]
		
		

  <%= f.input :material_id  , :input_html => {:class => "input-xlarge "}, 
  			:label => "Material" %>
 

	<%= f.input :material_id, :label => "Material" do %>
     <%= f.select :material_id, 
         Category.all_selectable_categories %>
   <% end %>

  <div class="form-actions">
	
		<% if new_object.persisted? %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Update Sales Order" %>
		<% else %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Create Sales Order" %>
		<% end %>
		
  </div>
<% end %>




<script type="text/javascript">
$(document).ready(function() {
	
	 $("#sales_order_customer_id").tokenInput('<%=	search_customer_url %>', {
		prePopulate:   	[
				<% if not new_object.customer_id.nil? %> 
				{id: <%= new_object.customer_id %>, name: '<%= new_object.customer.name %>'}
				<% end %>
			],
		zindex: 9999,
		propertyToSearch: "name",
		tokenLimit: 1
	});


 
	
	
});
</script>