<% if new_object.persisted? %>
	<% id = 'edit_object'%>
<% else %>
	<% id = 'new_object'%>
<% end %>

<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => " form-horizontal prevent_double_submit ajax-form   no_content_form",
        :id => "#{id}"}) do |f| %>

	 
<!-- 				new_object.material_id        = params[:material_id]       
		    new_object.is_pre_production  = params[:is_pre_production] 
		    new_object.is_production      = params[:is_production]     
		    new_object.is_post_production = params[:is_post_production]
		    new_object.is_delivered       = params[:is_delivered]      
		    new_object.delivery_address   = params[:delivery_address]  
		    new_object.price_per_piece    =  BigDecimal( params[:price_per_piece ])
		    new_object.weight_per_piece    =  BigDecimal( params[:weight_per_piece ])
		    new_object.quantity           = params[:quantity]          
		    new_object.description        = params[:description]   
		    new_object.delivery_address   = params[:delivery_address]          
		    new_object.requested_deadline = params[:requested_deadline]
		
		 -->

   
 

	<%= f.input :sales_item_id, :label => "Material" do %>
     <%= f.select :sales_item_id, 
         customer.all_selectable_sales_items %>
  <% end %>

 
	
	<hr />
		<%= f.input :quantity_sent, :label =>"Kuantitas"   %>
		<%= f.input :quantity_sent_weight, :label =>"Berat Total", 
				:hint => "Dalam kilogram, sensitif sampai 2 decimal. Contoh: <b>2.15</b>kg"   %>
	 
 
		
	
	

  <div class="form-actions">
	
		<% if new_object.persisted? %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Update Delivery Entry" %>
		<% else %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Create Delivery Entry" %>
		<% end %>
		
  </div>
<% end %>


 